---
title: Achtung! Cthulhu
category: character sheet
style: |-
  #stress { height: fit-content; }
  @media screen and (min-width:768px) {
    .grid { grid-template-columns: 1fr 1fr 1fr; }
    .wide-right { grid-column: 2/4; }
    .full-width { grid-column: 1/4; }
  }
  @media print {
    .grid { grid-template-columns: 1fr 1fr 1fr; }
    .wide-right { grid-column: 2/4; }
    .full-width { grid-column: 1/4; }
  }
  table#talents { border-spacing: 0; }
  table, table textarea { width: 100%; box-sizing: border-box; }
  #equipment { display: flex; flex-wrap: wrap; }
  #equipment .item-table { flex: 1; min-width: 15em; }
  #equipment input { width: 100%; }
  div.item-fields { display: flex; flex-wrap: wrap; }
  div.item-fields > * { flex: 1; min-width: 15em; }
  #equipment .item-table + .item-table { margin: 0; }
  #truths .item-table + .item-table { margin-top: 2px; }
  .item-table + .item-table { margin-top: 1em; }
  form > .overlabeled > label { font-size: medium; font-family: var(--serif); }
  form > fieldset > legend { margin-left: calc(-0.75em - 4px); padding-left: 0; }
  #talents td { vertical-align: top; }
  #attributes input[type="text"], #skills input[type="text"] { width: 100%; text-align: center; }
  table#attributes { table-layout: fixed; border-collapse: collapse; }
  table#attributes td { padding: 0; }
  table#skills { border-collapse: collapse; }
  table#skills, #skills td, #skills th { border: 1px solid var(--color); }
  .focus-cell { display: grid; }
  .power { text-align: right; }
  .power input { text-align: center; }
  input { box-sizing: border-box; }
fields:
  - Name
  - Nationality
  - Rank
  - Archetype
  - Background
  - Characteristic
skills:
  - name: academia
    focuses: ["Art", "Cryptography", "Finance", "History", "Linguistics", "Occultism", "Science"]
  - name: athletics
    focuses: ["Climbing", "Lifting", "Physical Training", "Running", "Swimming", "Throwing"]
  - name: engineering
    focuses: ["Architecture", "Combat Engineering", "Electronics", "Explosives", "Mechanical Engineering"]
  - name: fighting
    focuses: ["Close Quarters", "Handguns", "Hand-to-Hand", "Heavy Weapons", "Melee Weapons", "Rifles", "Threat Awareness", "Exotic"]
  - name: medicine
    focuses: ["First Aid", "Infectious Diseases", "Pharmacology", "Psychiatry", "Surgery", "Toxicology"]
  - name: observation
    focuses: ["Hearing", "Instincts", "Sight", "Smell and Taste"]
  - name: persuasion
    focuses: ["Charm", "Innuendo", "Intimidation", "Negotiation", "Rhetoric", "Deceive", "Invocation"]
  - name: resilience
    focuses: ["Fortitude", "Discipline", "Immunity"]
  - name: stealth
    focuses: ["Camouflage", "Disguise", "Rural Stealth", "Urban Stealth"]
  - name: survival
    focuses: ["Animal Handling", "Foraging", "Hunting", "Mysticism", "Orienteering", "Tracking"]
  - name: tactics
    focuses: ["Air Force", "Army", "Covert Operations", "Leadership", "Navy", "Technical Projects"]
  - name: vehicles
    focuses: ["Cars", "Motorcycles", "Heavy Vehicles", "Tanks", "Aircraft", "Watercraft"]
---
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ 'styles/base.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/light.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/dark.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/character-sheet.css' | relative_url }}">
	{% if page.style %}
	<style>
		{{ page.style }}
	</style>
	{% endif %}
	<script src="{{ 'js/settings.js' | relative_url }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="robots" content="noindex">
	<meta property="og:site_name" content="TTRPG Stuff">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
</head>
<body>
{% include header.html %}
{% include character-controls.html %}

<form id="character-sheet" class="grid">
	{% for field in page.fields %}
	<div class="overlabeled">
		<label for="character-{{ field | slugify }}">{{ field }}</label>
		<input type="text" id="character-{{ field | slugify }}" name="character-{{ field | slugify }}" />
	</div>
	{% endfor %}

	<fieldset id="truths">
		<legend>Personal Truths &amp; Scars</legend>
		{% for n in (0..5) %}
		<div class="item-table">
		<input type="text" placeholder="New Truth" class="item-name" id="truth-{{ n }}" name="truth-{{ n }}" />
		</div>
		{% endfor %}
	</fieldset>

	<fieldset id="stress">
		<legend>Stress</legend>
		<input type="text" size="3" id="stress-current" name="stress-current" inputmode="numeric" pattern="[0-9]*" />
		<span> / </span>
		<input type="text" size="3" id="stress-max" name="stress-max" inputmode="numeric" pattern="[0-9]*" />
	</fieldset>

	<div class="overlabeled">
		<label for="languages">Languages</label>
		<textarea type="text" id="languages" name="languages" rows="2"></textarea>
	</div>

	{% assign fields = "Courage,Armor,Fortune" | split: "," %}
	{% for field in fields %}
	<div class="overlabeled">
		{% assign fieldId = field | slugify %}
		<label for="{{ fieldId }}">{{ field }}</label>
		<input type="text" size="3" id="{{ fieldId }}" name="{{ fieldId }}" inputmode="numeric" pattern="[0-9]*" />
	</div>
	{% endfor %}

	<div class="overlabeled">
		<label for="injuries">Injuries</label>
		<textarea type="text" id="injuries" name="injuries" rows="2"></textarea>
	</div>

	<table id="attributes" class="full-width">
		{% assign attrs = "agility,brawn,coordination,insight,reason,will" | split: "," %}
		<tr>
			<th id="attribute" scope="row">Attribute</th>
			{% for attr in attrs %}
			<th id="attribute-{{ attr }}" scope="col">{{ attr | capitalize }}</th>
			{% endfor %}
		</tr>
		<tr>
			<th id="attribute-rating" scope="row">Rating</th>
			{% for attr in attrs %}
			<td><input type="text" size="3" inputmode="numeric" pattern="[0-9]*" id="attribute-rating-{{ attr }}" name="attribute-rating-{{ attr }}" aria-labelledby="attribute-{{ attr }} attribute-rating" /></td>
			{% endfor %}
		</tr>
		<tr>
			<th id="attribute-bonus-damage" scope="row">Bonus Damage</th>
			{% for attr in attrs %}
			<td><input type="text" size="3" inputmode="numeric" pattern="[0-9]*" id="attribute-bonus-damage-{{ attr }}" name="attribute-bonus-damage-{{ attr }}" aria-labelledby="attribute-{{ attr }} attribute-bonus-damage" /></td>
			{% endfor %}
		</tr>
	</table>

	<table id="skills" class="full-width">
		<tr>
			<th id="skill" scope="col">Skills</th>
			<th id="skill-ranks" scope="col">Ranks</th>
			<th id="skill-focuses" scope="col">Focuses</th>
		</tr>
		{% for skill in page.skills %}
		{% assign skillId = skill.name | slugify %}
		<tr>
			<th id="skill-{{ skillId }}" scope="row">{{ skill.name | capitalize }}</th>
			<td><input type="text" value="0" inputmode="numeric" pattern="[0-9]*" id="skill-ranks-{{ skillId }}" name="skill-ranks-{{ skillId }}" aria-labelledby="skill-{{ skillId }} skill-ranks" /></td>
			<td><div class="focus-cell collapsing-2col">
				{% for focus in skill.focuses %}
				{% assign focusId = focus | slugify %}
				<div class="focus">
				<input type="checkbox" name="skill-focus-{{ skillId }}-{{ focusId }}" id="skill-focus-{{ skillId }}-{{ focusId }}" value="{{ focusId }}" />
				<label for="skill-focus-{{ skillId }}-{{ focusId }}">{{ focus }}</label>
				</div>
				{% endfor %}
			</div></td>
		</tr>
		{% endfor %}
	</table>

	<fieldset id="equipment" class="full-width">
		<legend>Equipment of Note</legend>
		{% for n in (0..11) %}
		<div class="item-table">
		<input type="text" placeholder="New Equipment" class="item-name" id="equipment-{{ n }}" name="equipment-{{ n }}" />
		</div>
		{% endfor %}
	</fieldset>

	<fieldset id="weapons" class="full-width">
		<legend>Weapons</legend>
		{% assign fields = "focus,range,damage,salvo,size,qualities" | split: "," %}
		{% for n in (0..2) %}
		<div class="item-table">
			<input class="item-name" type="text" name="weapon-{{ n }}-name" placeholder="Weapon">
			<div class="item-fields">
				{% for field in fields %}
				<div class="overlabeled">
					<label for="weapon-{{ n }}-{{ field }}">{{ field | capitalize }}</label>
					<input type="text" name="weapon-{{ n }}-{{ field }}" id="weapon-{{ n }}-{{ field }}">
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</fieldset>

	<div class="overlabeled full-width">
		<label for="biography">Biography</label>
		<textarea id="biography" name="biography" rows="3"></textarea>
	</div>

	<fieldset class="full-width">
		<legend>Talents</legend>
		<table id="talents" class="full-width">
			{% assign cols = "name,keywords,effect" | split: "," %}
			<tr>
				{% for col in cols %}
				<th id="talent-{{ col }}" scope="col">{{ col | capitalize }}</th>
				{% endfor %}
			</tr>
			{% for n in (0..2) %}
			<tr class="item-table">
				{% for col in cols %}
				<td><textarea id="talent-{{ n }}-{{ col }}" name="talent-{{ n }}-{{ col }}" aria-labelledby="talent-{{ col }}" /></textarea></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</fieldset>

	<fieldset id="spells" class="full-width">
		<legend>Spells</legend>
		<div class="power" style="text-align: right">
		<label for="spell-power">Power</label>
		<input type="text" size="3" inputmode="numeric" pattern="[0-9]*" id="spell-power" name="spell-power" />
		</div>
		{% assign fields = "skill,difficulty,cost,duration,effect,momentum" | split: "," %}
		{% for n in (0..2) %}
		<div class="item-table">
			<input class="item-name" type="text" name="spell-{{ n }}-name" placeholder="Spell">
			<div class="item-fields">
				{% for field in fields %}
				<div class="overlabeled">
					<label for="spell-{{ n }}-{{ field }}">{{ field | capitalize }}</label>
					{% case field %}
					{% when "effect", "momentum" %}
					<textarea name="spell-{{ n }}-{{ field }}" id="spell-{{ n }}-{{ field }}"></textarea>
					{% else %}
					<input type="text" name="spell-{{ n }}-{{ field }}" id="spell-{{ n }}-{{ field }}">
					{% endcase %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</fieldset>

</form>
</body>
</html>
