---
title: Hard Wired Island
---
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ 'styles/base.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/light.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/dark.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/character-sheet.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/hwi.css' | relative_url }}">
	<script src="js/character.js"></script>
	<script src="js/hwi.js"></script>
	<script src="{{ 'js/settings.js' | relative_url }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="robots" content="noindex">
	<meta property="og:site_name" content="TTRPG Stuff">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
</head>
<body>
{% include header.html %}
{% include character-controls.html %}

<form id="character-sheet">
<div class="name-column column">

<fieldset id="multipass">
<legend>Grand Cross Multipass</legend>
<label for="character-name">Name:</label><input type="text" id="character-name" name="character-name">
<label for="handle">Handle:</label><input type="text" id="handle" name="handle">
<label for="pronouns">Pronouns:</label><input type="text" id="pronouns" name="pronouns">
<label for="player">Player:</label><input type="text" id="player" name="player">
</fieldset>
<div class="experience">
<label for="xp">Experience:</label>
<input type="text" id="xp" name="xp" size="2">
</div>
</div>

<div class="stats-column column">
<div id="status">
<span class="underlabeled">
  <label for="burden">Burden</label>
  <div class="status-circle">
    <input size="2" value="1" type="text" id="burden" name="burden">
  </div>
</span>
<span class="underlabeled">
  <label for="cash">Cash</label>
  <div class="status-circle">
    <input size="2" value="0" type="text" id="cash" name="cash">
  </div>
</span>
<span class="underlabeled">
  <label for="prep">Prep</label>
  <div class="status-circle">
    <input size="2" value="0" type="text" id="prep" name="prep">
  </div>
</span>
</div>

<div class="block">
<label for="occupations">Occupations</label>
<textarea id="occupations" name="occupations" rows="1"></textarea>
</div>
</div>

<div class="column">
<table id="stats">
  <tr>
  <td></td>
  <th id="stat0" scope="col">0</th>
  <th id="stat1" scope="col">+1</th>
  <th id="stat2" scope="col">+2</th>
  <th id="stat3" scope="col">+3</th>
  <th id="stat-defense-bonus" scope="col">Bonus</th>
  <th id="stat-defense" scope="col">Defense</th>
  </tr>
  {% assign stats = "cool,clever,tough,quick" | split: "," %}
  {% for stat in stats %}
  <tr>
    <th id="stat-{{ stat }}" scope="row">{{ stat | capitalize }}</th>
    <td><input type="radio" name="{{ stat }}" value="0" aria-labelledby="stat-{{ stat }} stat0"></td>
    <td><input type="radio" name="{{ stat }}" value="1" aria-labelledby="stat-{{ stat }} stat1"></td>
    <td><input type="radio" name="{{ stat }}" value="2" aria-labelledby="stat-{{ stat }} stat2"></td>
    <td><input type="radio" name="{{ stat }}" value="3" aria-labelledby="stat-{{ stat }} stat3"></td>
    <td><div class="stat-bonus">
      <input size="2" value="0" type="text" name="{{ stat }}-defense-bonus" id="{{ stat }}-defense-bonus" aria-labelledby="stat-{{ stat }} stat-defense-bonus">
      </div></td>
    <td><input size="2" type="text" name="{{ stat }}-defense" id="{{ stat }}-defense" aria-labelledby="stat-{{ stat }} stat-defense"></td>
  </tr>
  {% endfor %}
</table>

<div class="block">
<label for="origin">Origin</label>
<textarea id="origin" name="origin" rows="3"></textarea>
<label for="traits">Traits</label>
<textarea id="traits" name="traits" rows="3"></textarea>
<label for="app">App</label>
<textarea id="app" name="app" rows="1"></textarea>
</div>

<table id="specialties">
<tr>
<th scope="col" id="specialty-name">Specialities</th>
<th scope="col" id="specialty-level1">+1</th>
<th scope="col" id="specialty-level2">+2</th>
<th scope="col" id="specialty-level3">+3</th>
</tr>
{% for specialty in (0..14) %}
<tr class="item-table">
  <td><input class="item-name" size="20" type="text" name="specialty{{ specialty }}-name" aria-labelledby="specialty-name" placeholder="New Specialty"></td>
  <td><input type="radio" name="specialty{{ specialty }}" value="1" aria-labelledby="specialty-level1"></td>
  <td><input type="radio" name="specialty{{ specialty }}" value="2" aria-labelledby="specialty-level2"></td>
  <td><input type="radio" name="specialty{{ specialty }}" value="3" aria-labelledby="specialty-level3"></td>
</tr>
{% endfor %}
</table>

</div> <!-- end column -->

<div class="column">
<div class="block">
<label for="talents">Talents</label>
<textarea id="talents" name="talents" rows="10"></textarea>
</div>
<div class="block">
<label for="assets">Assets</label>
<textarea id="assets" name="assets" rows="5"></textarea>
</div>
<div class="block">
<label for="augmentations">Augmentations</label>
<textarea id="augmentations" name="augmentations" rows="1"></textarea>
</div>

<fieldset id="harm">
<legend>Harm</legend>
<input type="checkbox" id="harm-1" name="harm-1" value="1">
<label for="harm-1">Minor Injury</label>
<input type="checkbox" id="harm-2" name="harm-2" value="2">
<label for="harm-2">Minor Injury</label>
<input type="checkbox" id="harm-3" name="harm-3" value="3">
<label for="harm-3">Harm</label>
<input type="checkbox" id="harm-4" name="harm-4" value="4">
<label for="harm-4">Harm</label>
<input type="checkbox" id="harm-5" name="harm-5" value="5">
<label for="harm-5">Serious Injury</label>
<input type="checkbox" id="harm-6" name="harm-6" value="6">
<label for="harm-6">Incapacitated</label>
</fieldset>

<div class="block">
<label for="notes">Notes</label>
<textarea id="notes" name="notes" rows="5"></textarea>
</div>

</div> <!-- end column -->
</form>

</body>
</html>
