---
title: Power Rangers
dice: [2,4,6,8,10,12]
stats:
  - [strength,toughness]
  - [speed,evasion]
  - [smarts,willpower]
  - [social,cleverness]
skills:
  strength:
    - athletics
    - brawn
    - conditioning
    - indimidation
    - might
  speed:
    - acrobatics
    - driving
    - finesse
    - infiltration
    - initiative
    - targeting
  smarts:
    - alertness
    - culture
    - science
    - survival
    - technology
  social:
    - animal handling
    - deception
    - performance
    - persuasion
    - streetwise
---
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ 'styles/base.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/light.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/dark.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/pr.css' | relative_url }}">
	<script src="js/hwi.js"></script>
	<script src="js/pr.js"></script>
	<script src="{{ 'js/settings.js' | relative_url }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="robots" content="noindex">
	<meta property="og:site_name" content="TTRPG Stuff">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
</head>
<body>
{% include header.html %}

<main>
<input type="text" id="character" placeholder="New Character" autofocus>

<div class="character-controls">
<div id="new-character-prompt">
	<label for="upload-file">Type a new character name above or upload a character sheet file:</label>
	<input id="upload-file" type="file" accept=".jcs">
</div>
<button id="new-btn" disabled>New Character</button>
<button id="delete-btn" disabled>Delete Character</button>
<select id="load-character" required>
<option selected disabled hidden value="">Load Character</option>
</select>
<dialog id="share-dialog">
	<div class="dialog-content">
		<div class="share-controls">
			<button id="share-url">Share Raw Url</button>
			<button id="share-md">Share Discord Link</button>
		</div>
		<textarea id="share-link-text" readonly rows="5"></textarea>
	</div>
</dialog>
<button id="share-btn" disabled>Share</button>
<button id="download-btn" disabled>Download</button>
</div>

<form id="character-sheet">
<fieldset id="summary">
	<div class="basics">
		<div class="row">
			<div class="underlabeled">
				<label for="character-name">Name</label>
				<input name="character-name" id="character-name" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="pronouns">Pronouns</label>
				<input name="pronouns" id="pronouns" type="text" size="5" />
			</div>
		</div>
		<div class="row">
			<div class="underlabeled">
				<label for="origin">Origin</label>
				<input name="origin" id="origin" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="role">Role</label>
				<input name="role" id="role" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="level">Level</label>
				<input name="level" id="level" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
		</div>
		<div class="row">
			<div class="underlabeled">
				<label for="languages">Languages</label>
				<input type="text" name="languages" id="languages">
			</div>
		</div>
	</div>
	<div class="summary-details">
		<div class="underlabeled">
			<label for="description">Description</label>
			<textarea name="description" id="description" rows="3"></textarea>
		</div>
	</div>
</fieldset>

<div id="combat-info">
	<fieldset id="details">
		<div class="col">
			<div class="underlabeled">
				<label for="influences">Influences</label>
				<textarea name="influences" id="influences" rows="3"></textarea>
			</div>
			<div class="underlabeled">
				<label for="hangups">Hang-ups</label>
				<textarea name="hangups" id="hangups" rows="2"></textarea>
			</div>
		</div>
		<div class="col">
			<div class="underlabeled">
				<label for="power">Personal Power</label>
				<input name="power" id="power" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
			<div class="underlabeled">
				<label for="movement">Movement</label>
				<input name="movement" id="movement" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
			<div class="underlabeled">
				<label for="health">Health</label>
				<input name="health" id="health" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
			<div class="underlabeled">
				<label for="damage">Damage</label>
				<input name="damage" id="damage" type="text" inputmode="numeric" pattern="[0-9]*" value="0" />
			</div>
		</div>
	</fieldset>

	<fieldset id="attack">
		<legend>Attack</legend>
		<table>
			<tr>
				<th id="attack-name" scope="col">Name</th>
				<th id="attack-range" scope="col">Range</th>
				<th id="attack-attack" scope="col">Attack</th>
				<th id="attack-effects" scope="col">Effects</th>
				<th id="attack-notes" scope="col">Notes</th>
			</tr>
			{% for row in (0..4) %}
			<tr>
				<td><input type="text" name="attack{{ row }}-name" aria-labelledby="attack-name" /></td>
				<td><input type="text" name="attack{{ row }}-range" aria-labelledby="attack-range" /></td>
				<td><input type="text" name="attack{{ row }}-attack" aria-labelledby="attack-attack" /></td>
				<td><input type="text" name="attack{{ row }}-effects" aria-labelledby="attack-effects" /></td>
				<td><input type="text" name="attack{{ row }}-notes" aria-labelledby="attack-notes" /></td>
			</tr>
			{% endfor %}
		</table>
	</fieldset>
</div>

<div id="stats-cols">
{% for stat in page.stats %}
<fieldset id="{{ stat[0] }}-block" class="stat">
<legend><label for="{{ stat[0] }}">{{ stat[0] | capitalize }}</label> <input type="text" inputmode="numeric" pattern="[0-9]*" id="{{ stat[0] }}" name="{{ stat[0] }}" /></legend>
<div class="def"><label for="{{ stat[1] }}">{{ stat[1] | capitalize }}</label> <input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="{{ stat[1] }}" name="{{ stat[1] }}" /></div>
<div class="sum">
	<div class="underlabeled">
		<label for="{{ stat[1] }}-perks">Perks</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="{{ stat[1] }}-perks" id="{{ stat[1] }}-perks" /></span>
	</div>
	<div class="underlabeled">
		<label for="{{ stat[1] }}-armor">Armor</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="{{ stat[1] }}-armor" id="{{ stat[1] }}-armor" /></span>
	</div>
	<div class="underlabeled">
		<label for="{{ stat[1] }}-morphed">Morphed</label>
		<span>=<input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="{{ stat[1] }}-morphed" name="{{ stat[1] }}-morphed" /></span>
	</div>
</div>

{% assign skill_name = stat[0] %}
{% for skill in page.skills[skill_name] %}
<div class="skill">
	<h3>{{ skill }}</h3>
	<div class="dice">
		<span class="overlabeled">
			<label>&nbsp;</label>
			<input type="radio" name="{{ skill }}" id="{{ skill }}-0" value="0" selected>
		</span>
{% case skill %}
{% when "conditioning" %}
	{% for i in (1..6) %}
		<span class="overlabeled">
			<label for="{{ skill }}-{{ i }}">+{{ i }}</label>
			<input type="radio" name="{{ skill }}" id="{{ skill }}-{{ i }}" value="{{ i }}" />
		</span>
	{% endfor %}
	</div>
{% when "initiative" %}
		{% for i in page.dice %}
		<span class="overlabeled">
			<label for="{{ skill }}-d{{ i }}">D{{ i }}</label>
			<input type="radio" name="{{ skill }}" id="{{ skill }}-d{{ i }}" value="{{ i }}" />
		</span>
		{% endfor %}
	</div>
{% else %}
		{% for i in page.dice %}
		<span class="overlabeled">
			<label for="{{ skill }}-d{{ i }}">D{{ i }}</label>
			<input type="radio" name="{{ skill }}" id="{{ skill }}-d{{ i }}" value="{{ i }}" />
		</span>
		{% endfor %}
	</div>
	<div class="specializations">
		<span>Specializations</span>
		{% for i in (0..2) %}
		<input type="text" name="{{ skill }}-specialization{{ i }}" />
		{% endfor %}
	</div>
{% endcase %}
</div>
{% endfor %}
</fieldset>
{% endfor %}
</div> <!-- End stats columns -->

<div id="addl-abilities">
	<div class="overlabeled">
		<label for="powers">Powers</label>
		<textarea name="powers" id="powers" rows="5"></textarea>
	</div>
	<div class="overlabeled">
		<label for="perks">Perks</label>
		<textarea name="perks" id="perks" rows="5"></textarea>
	</div>
	<div class="overlabeled">
		<label for="bg-bonds">Background Bonds</label>
		<textarea name="bg-bonds" id="bg-bonds" rows="5"></textarea>
	</div>
</div>

<fieldset id="weapons" class="item-table-list">
	<legend>Weapons</legend>
	{% assign fields = "range,hands,traits,attack,effects,alternative-effects" | split: "," %}
	{% for weapon in (0..2) %}
	<div id="weapon{{ weapon }}" class="item-table">
		<input class="item-name" type="text" name="weapon{{ weapon }}-weapon" placeholder="Weapon">
		<div class="item-fields">
			{% for field in fields %}
			<div class="overlabeled">
				<label for="weapon{{ weapon }}-{{ field }}">{{ field | capitalize }}</label>
				<input type="text" name="weapon{{ weapon }}-{{ field }}" id="weapon{{ weapon }}-{{ field }}">
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</fieldset>

<fieldset id="armors" class="item-table-list">
	<legend>Armor</legend>
	{% assign fields = "type,description,effect,traits" | split: "," %}
	{% for armor in (0..2) %}
	<div id="armor{{ armor }}" class="item-table">
		<input class="item-name" type="text" name="armor{{ armor }}-armor" placeholder="Armor">
		<div class="item-fields">
			{% for field in fields %}
			<div class="overlabeled">
				<label for="armor{{ armor }}-{{ field }}">{{ field | capitalize }}</label>
				<input type="text" name="armor{{ armor }}-{{ field }}" id="armor{{ armor }}-{{ field }}">
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</fieldset>

<fieldset id="zord" class="cols2">
	<legend>Zord</legend>
	<div class="col">
		<div class="underlabeled">
			<label for="zord-name">Name</label>
			<input name="zord-name" id="zord-name" type="text" size="15" />
		</div>
		<div id="zord-stats">
			<div class="zord-stat">
				<label for="zord-strength">Strength</label>
				<input type="text" inputmode="numeric" pattern="[0-9]*" id="zord-strength" name="zord-strength" />
			</div>
			<div class="zord-stat">
				<label for="zord-speed">Speed</label>
				<input type="text" inputmode="numeric" pattern="[0-9]*" id="zord-speed" name="zord-speed" />
			</div>
			<div class="zord-derived-stat">
				<label for="zord-toughness">Toughness</label>
				<input type="text" inputmode="numeric" pattern="[0-9]*" id="zord-toughness" name="zord-toughness" />
			</div>
			<div class="zord-derived-stat">
				<label for="zord-evasion">Evasion</label>
				<input type="text" inputmode="numeric" pattern="[0-9]*" id="zord-evasion" name="zord-evasion" />
			</div>
		{% assign abilities = "brawn,driving,conditioning,initiative,might,blank" | split: "," %}
		{% for ability in abilities %}
			<div class="skill">
			{% case ability %}
			{% when "blank" %}
				<input class="name" type="text" name="zord-ability-name0" size="5"/>
			{% else %}
				<h3 class="name">{{ ability | capitalize }}</h3>
			{% endcase %}
				<span class="overlabeled">
					<label>&nbsp;</label>
					<input type="radio" name="zord-{{ ability }}" id="zord-{{ ability }}-0" value="0" selected>
				</span>
			{% case ability %}
			{% when "conditioning" %}
				{% for i in (1..6) %}
				<span class="overlabeled">
					<label for="zord-{{ ability }}-{{ i }}">+{{ i }}</label>
					<input type="radio" name="zord-{{ ability }}" id="zord-{{ ability }}-{{ i }}" value="{{ i }}" />
				</span>
				{% endfor %}
			{% else %}
				{% for i in page.dice %}
				<span class="overlabeled">
					<label for="zord-{{ ability }}-d{{ i }}">D{{ i }}</label>
					<input type="radio" name="zord-{{ ability }}" id="zord-{{ ability }}-d{{ i }}" value="{{ i }}" />
				</span>
				{% endfor %}
			{% endcase %}
			</div>
		{% endfor %}
		</div>
		<div class="overlabeled">
			<label for="zord-skill-notes">Skill Notes</label>
			<textarea name="zord-skill-notes" id="zord-skill-notes" rows="3"></textarea>
		</div>
	</div>
	<div class="col">
		<fieldset id="zord-attack">
			<legend>Attacks</legend>
			<table>
				<tr>
					<th id="zord-attack-weapon" scope="col">Weapon</th>
					<th id="zord-attack-range" scope="col">Range</th>
					<th id="zord-attack-effects" scope="col">Effects</th>
				</tr>
				{% for row in (0..1) %}
				<tr>
					<td><input type="text" name="zord-attack{{ row }}-weapon" aria-labelledby="zord-attack-weapon" /></td>
					<td><input type="text" name="zord-attack{{ row }}-range" aria-labelledby="zord-attack-range" /></td>
					<td><input type="text" name="zord-attack{{ row }}-effects" aria-labelledby="zord-attack-effects" /></td>
				</tr>
				{% endfor %}
			</table>
		</fieldset>
		<div class="row">
			<div class="underlabeled">
				<label for="zord-size">Size</label>
				<input name="zord-size" id="zord-size" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="zord-movement">Movement</label>
				<input name="zord-movement" id="zord-movement" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="zord-health">Health</label>
				<input name="zord-health" id="zord-health" type="text" inputmode="numeric" pattern="[0-9]*" size="3" />
			</div>
			<div class="underlabeled">
				<label for="zord-damage">Damage</label>
				<input name="zord-damage" id="zord-damage" type="text" inputmode="numeric" pattern="[0-9]*" size="3" />
			</div>
		</div>
		<div class="overlabeled">
			<label for="zord-features">Features</label>
			<textarea name="zord-features" id="zord-features" rows="4"></textarea>
		</div>
	</div>
</fieldset>

<div class="cols2">
	<div class="overlabeled">
		<label for="inventory">Inventory</label>
		<textarea name="inventory" id="inventory" rows="5"></textarea>
	</div>
	<div class="overlabeled">
		<label for="notes">Notes</label>
		<textarea name="notes" id="notes" rows="5"></textarea>
	</div>
</div>
</form>
</main>

</body>
</html>
