---
title: Power Rangers
dice: [2,4,6,8,10,12]
skills:
  strength:
    - athletics
    - brawn
    - conditioning
    - indimidation
    - might
  speed:
    - acrobatics
    - driving
    - finesse
    - infiltration
    - initiative
    - targeting
  smarts:
    - alertness
    - culture
    - science
    - survival
    - technology
  social:
    - animal handling
    - deception
    - performance
    - persuasion
    - streetwise
---
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ 'styles/base.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/light.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/dark.css' | relative_url }}">
	<link rel="stylesheet" href="{{ 'styles/pr.css' | relative_url }}">
	<script src="js/hwi.js"></script>
	<script src="js/pr.js"></script>
	<script src="{{ 'js/settings.js' | relative_url }}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<meta name="robots" content="noindex">
	<meta property="og:site_name" content="TTRPG Stuff">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ page.url | absolute_url }}">
</head>
<body>
{% include header.html %}

<main>
<input type="text" id="character" placeholder="New Character" autofocus>

<div class="character-controls">
<button id="new-btn" disabled>New Character</button>
<button id="delete-btn" disabled>Delete Character</button>
<select id="load-character" required>
<option selected disabled hidden value="">Load Character</option>
</select>
<button id="share-btn" disabled>Share Snapshot</button>
</div>

<form id="character-sheet">
<fieldset id="summary">
	<div class="basics">
		<div class="row">
			<div class="underlabeled">
				<label for="character-name">Name</label>
				<input name="character-name" id="character-name" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="pronouns">Pronouns</label>
				<input name="pronouns" id="pronouns" type="text" size="5" />
			</div>
		</div>
		<div class="row">
			<div class="underlabeled">
				<label for="origin">Origin</label>
				<input name="origin" id="origin" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="role">Role</label>
				<input name="role" id="role" type="text" size="5" />
			</div>
			<div class="underlabeled">
				<label for="level">Level</label>
				<input name="level" id="level" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
		</div>
		<div class="row">
			<div class="underlabeled">
				<label for="languages">Languages</label>
				<input type="text" name="languages" id="languages">
			</div>
		</div>
	</div>
	<div class="summary-details">
		<div class="underlabeled">
			<label for="description">Description</label>
			<textarea name="description" id="description" rows="3"></textarea>
		</div>
	</div>
</fieldset>

<div id="combat-info">
	<fieldset id="details">
		<div class="col">
			<div class="underlabeled">
				<label for="influences">Influences</label>
				<textarea name="influences" id="influences"></textarea>
			</div>
			<div class="underlabeled">
				<label for="hangups">Hang-ups</label>
				<textarea name="hangups" id="hangups"></textarea>
			</div>
		</div>
		<div class="col">
			<div class="underlabeled">
				<label for="power">Personal Power</label>
				<input name="power" id="power" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
			<div class="underlabeled">
				<label for="movement">Movement</label>
				<input name="movement" id="movement" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
			<div class="underlabeled">
				<label for="health">Health</label>
				<input name="health" id="health" type="text" inputmode="numeric" pattern="[0-9]*" value="1" />
			</div>
			<div class="underlabeled">
				<label for="damage">Damage</label>
				<input name="damage" id="damage" type="text" inputmode="numeric" pattern="[0-9]*" value="0" />
			</div>
		</div>
	</fieldset>

	<fieldset id="attack">
		<legend>Attack</legend>
		<table>
			<tr>
				<th id="attack-name" scope="col">Name</th>
				<th id="attack-range" scope="col">Range</th>
				<th id="attack-attack" scope="col">Attack</th>
				<th id="attack-effects" scope="col">Effects</th>
				<th id="attack-notes" scope="col">Notes</th>
			</tr>
			{% for row in (0..4) %}
			<tr>
				<td><input type="text" name="attack{{ row }}" aria-labelledby="attack-name" /></td>
				<td><input type="text" name="attack{{ row }}" aria-labelledby="attack-range" /></td>
				<td><input type="text" name="attack{{ row }}" aria-labelledby="attack-attack" /></td>
				<td><input type="text" name="attack{{ row }}" aria-labelledby="attack-effects" /></td>
				<td><input type="text" name="attack{{ row }}" aria-labelledby="attack-notes" /></td>
			</tr>
			{% endfor %}
		</table>
	</fieldset>
</div>

<div id="stats-cols">
<fieldset id="strength-block" class="stat">
<legend><label for="strength">Strength</label> <input type="text" inputmode="numeric" pattern="[0-9]*" id="strength" name="strength" /></legend>
<div class="def"><label for="toughness">Toughness</label> <input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="toughness" name="toughness" /></div>
<div class="sum">
	<div class="underlabeled">
		<label for="toughness-perks">Perks</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="toughness-perks" id="toughness-perks" /></span>
	</div>
	<div class="underlabeled">
		<label for="toughness-armor">Armor</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="toughness-armor" id="toughness-armor" /></span>
	</div>
	<div class="underlabeled">
		<label for="toughness-morphed">Morphed</label>
		<span>=<input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="toughness-morphed" name="toughness-morphed" /></span>
	</div>
</div>

{% for skill in page.skills.strength %}
<div class="skill">
	<h3>{{ skill }}</h3>
	<div class="dice">
		<span class="overlabeled">
			<label>&nbsp;</label>
			<input type="radio" name="{{ skill }}" id="{{ skill }}-0">
		</span>
{% case skill %}
{% when "conditioning" %}
	{% for i in (1..6) %}
		<span class="overlabeled">
			<label for="{{ skill }}-{{ i }}">+{{ i }}</label>
			<input type="radio" name="{{ skill }}" id="{{ skill }}-{{ i }}" value="{{ i }}" />
		</span>
	{% endfor %}
	</div>
{% else %}
		{% for i in page.dice %}
		<span class="overlabeled">
			<label for="{{ skill }}-d{{ i }}">D{{ i }}</label>
			<input type="radio" name="{{ skill }}" id="{{ skill }}-d{{ i }}" value="{{ i }}" />
		</span>
		{% endfor %}
	</div>
	<div class="specializations">
		<span>Specializations</span>
		{% for i in (0..2) %}
		<input type="text" name="{{ skill }}-specialization{{ i }}" />
		{% endfor %}
	</div>
{% endcase %}
</div>
{% endfor %}
</fieldset>

<fieldset id="speed-block" class="stat">
<legend><label for="speed">Speed</label> <input type="text" inputmode="numeric" pattern="[0-9]*" id="speed" name="speed" /></legend>
<div class="def"><label for="evasion">Evasion</label> <input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="evasion" name="evasion" /></div>
<div class="sum">
	<div class="underlabeled">
		<label for="evasion-perks">Perks</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="evasion-perks" id="evasion-perks" /></span>
	</div>
	<div class="underlabeled">
		<label for="evasion-armor">Armor</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="evasion-armor" id="evasion-armor" /></span>
	</div>
	<div class="underlabeled">
		<label for="evasion-morphed">Morphed</label>
		<span>=<input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="evasion-morphed" name="evasion-morphed" /></span>
	</div>
</div>

<div class="skill">
	<h3>Acrobatics</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="acrobatics-d2">D2</label>
			<input type="radio" name="acrobatics" id="acrobatics-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="acrobatics-d4">D4</label>
			<input type="radio" name="acrobatics" id="acrobatics-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="acrobatics-d6">D6</label>
			<input type="radio" name="acrobatics" id="acrobatics-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="acrobatics-d8">D8</label>
			<input type="radio" name="acrobatics" id="acrobatics-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="acrobatics-d10">D10</label>
			<input type="radio" name="acrobatics" id="acrobatics-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="acrobatics-d12">D12</label>
			<input type="radio" name="acrobatics" id="acrobatics-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="acrobatics-specialization0" />
		<input type="text" name="acrobatics-specialization1" />
		<input type="text" name="acrobatics-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Driving</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="driving-d2">D2</label>
			<input type="radio" name="driving" id="driving-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="driving-d4">D4</label>
			<input type="radio" name="driving" id="driving-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="driving-d6">D6</label>
			<input type="radio" name="driving" id="driving-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="driving-d8">D8</label>
			<input type="radio" name="driving" id="driving-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="driving-d10">D10</label>
			<input type="radio" name="driving" id="driving-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="driving-d12">D12</label>
			<input type="radio" name="driving" id="driving-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="driving-specialization0" />
		<input type="text" name="driving-specialization1" />
		<input type="text" name="driving-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Finesse</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="finesse-d2">D2</label>
			<input type="radio" name="finesse" id="finesse-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="finesse-d4">D4</label>
			<input type="radio" name="finesse" id="finesse-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="finesse-d6">D6</label>
			<input type="radio" name="finesse" id="finesse-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="finesse-d8">D8</label>
			<input type="radio" name="finesse" id="finesse-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="finesse-d10">D10</label>
			<input type="radio" name="finesse" id="finesse-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="finesse-d12">D12</label>
			<input type="radio" name="finesse" id="finesse-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="finesse-specialization0" />
		<input type="text" name="finesse-specialization1" />
		<input type="text" name="finesse-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Infiltration</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="infiltration-d2">D2</label>
			<input type="radio" name="infiltration" id="infiltration-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="infiltration-d4">D4</label>
			<input type="radio" name="infiltration" id="infiltration-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="infiltration-d6">D6</label>
			<input type="radio" name="infiltration" id="infiltration-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="infiltration-d8">D8</label>
			<input type="radio" name="infiltration" id="infiltration-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="infiltration-d10">D10</label>
			<input type="radio" name="infiltration" id="infiltration-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="infiltration-d12">D12</label>
			<input type="radio" name="infiltration" id="infiltration-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="infiltration-specialization0" />
		<input type="text" name="infiltration-specialization1" />
		<input type="text" name="infiltration-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Initiative</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="initiative-d2">D2</label>
			<input type="radio" name="initiative" id="initiative-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="initiative-d4">D4</label>
			<input type="radio" name="initiative" id="initiative-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="initiative-d6">D6</label>
			<input type="radio" name="initiative" id="initiative-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="initiative-d8">D8</label>
			<input type="radio" name="initiative" id="initiative-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="initiative-d10">D10</label>
			<input type="radio" name="initiative" id="initiative-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="initiative-d12">D12</label>
			<input type="radio" name="initiative" id="initiative-d12" value="12" />
		</span>
	</div>
</div>

<div class="skill">
	<h3>Targeting</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="targeting-d2">D2</label>
			<input type="radio" name="targeting" id="targeting-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="targeting-d4">D4</label>
			<input type="radio" name="targeting" id="targeting-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="targeting-d6">D6</label>
			<input type="radio" name="targeting" id="targeting-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="targeting-d8">D8</label>
			<input type="radio" name="targeting" id="targeting-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="targeting-d10">D10</label>
			<input type="radio" name="targeting" id="targeting-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="targeting-d12">D12</label>
			<input type="radio" name="targeting" id="targeting-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="targeting-specialization0" />
		<input type="text" name="targeting-specialization1" />
		<input type="text" name="targeting-specialization2" />
	</div>
</div>
</fieldset>

<fieldset id="smarts-block" class="stat">
<legend><label for="smarts">Smarts</label> <input type="text" inputmode="numeric" pattern="[0-9]*" id="smarts" name="smarts" /></legend>
<div class="def"><label for="willpower">Willpower</label> <input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="willpower" name="willpower" /></div>
<div class="sum">
	<div class="underlabeled">
		<label for="willpower-perks">Perks</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="willpower-perks" id="willpower-perks" /></span>
	</div>
	<div class="underlabeled">
		<label for="willpower-armor">Armor</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="willpower-armor" id="willpower-armor" /></span>
	</div>
	<div class="underlabeled">
		<label for="willpower-morphed">Morphed</label>
		<span>=<input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="willpower-morphed" name="willpower-morphed" /></span>
	</div>
</div>

<div class="skill">
	<h3>Alertness</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="alertness-d2">D2</label>
			<input type="radio" name="alertness" id="alertness-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="alertness-d4">D4</label>
			<input type="radio" name="alertness" id="alertness-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="alertness-d6">D6</label>
			<input type="radio" name="alertness" id="alertness-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="alertness-d8">D8</label>
			<input type="radio" name="alertness" id="alertness-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="alertness-d10">D10</label>
			<input type="radio" name="alertness" id="alertness-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="alertness-d12">D12</label>
			<input type="radio" name="alertness" id="alertness-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="alertness-specialization0" />
		<input type="text" name="alertness-specialization1" />
		<input type="text" name="alertness-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Culture</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="culture-d2">D2</label>
			<input type="radio" name="culture" id="culture-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="culture-d4">D4</label>
			<input type="radio" name="culture" id="culture-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="culture-d6">D6</label>
			<input type="radio" name="culture" id="culture-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="culture-d8">D8</label>
			<input type="radio" name="culture" id="culture-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="culture-d10">D10</label>
			<input type="radio" name="culture" id="culture-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="culture-d12">D12</label>
			<input type="radio" name="culture" id="culture-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="culture-specialization0" />
		<input type="text" name="culture-specialization1" />
		<input type="text" name="culture-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Science</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="science-d2">D2</label>
			<input type="radio" name="science" id="science-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="science-d4">D4</label>
			<input type="radio" name="science" id="science-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="science-d6">D6</label>
			<input type="radio" name="science" id="science-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="science-d8">D8</label>
			<input type="radio" name="science" id="science-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="science-d10">D10</label>
			<input type="radio" name="science" id="science-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="science-d12">D12</label>
			<input type="radio" name="science" id="science-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="science-specialization0" />
		<input type="text" name="science-specialization1" />
		<input type="text" name="science-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Survival</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="survival-d2">D2</label>
			<input type="radio" name="survival" id="survival-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="survival-d4">D4</label>
			<input type="radio" name="survival" id="survival-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="survival-d6">D6</label>
			<input type="radio" name="survival" id="survival-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="survival-d8">D8</label>
			<input type="radio" name="survival" id="survival-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="survival-d10">D10</label>
			<input type="radio" name="survival" id="survival-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="survival-d12">D12</label>
			<input type="radio" name="survival" id="survival-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="survival-specialization0" />
		<input type="text" name="survival-specialization1" />
		<input type="text" name="survival-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Technology</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="technology-d2">D2</label>
			<input type="radio" name="technology" id="technology-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="technology-d4">D4</label>
			<input type="radio" name="technology" id="technology-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="technology-d6">D6</label>
			<input type="radio" name="technology" id="technology-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="technology-d8">D8</label>
			<input type="radio" name="technology" id="technology-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="technology-d10">D10</label>
			<input type="radio" name="technology" id="technology-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="technology-d12">D12</label>
			<input type="radio" name="technology" id="technology-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="technology-specialization0" />
		<input type="text" name="technology-specialization1" />
		<input type="text" name="technology-specialization2" />
	</div>
</div>
</fieldset>

<fieldset id="social-block" class="stat">
<legend><label for="social">Social</label> <input type="text" inputmode="numeric" pattern="[0-9]*" id="social" name="social" /></legend>
<div class="def"><label for="cleverness">Cleverness</label> <input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="cleverness" name="cleverness" /></div>
<div class="sum">
	<div class="underlabeled">
		<label for="cleverness-perks">Perks</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="cleverness-perks" id="cleverness-perks" /></span>
	</div>
	<div class="underlabeled">
		<label for="cleverness-armor">Armor</label>
		<span>+<input type="text" inputmode="numeric" pattern="[0-9]*" name="cleverness-armor" id="cleverness-armor" /></span>
	</div>
	<div class="underlabeled">
		<label for="cleverness-morphed">Morphed</label>
		<span>=<input readonly="" type="text" inputmode="numeric" pattern="[0-9]*" id="cleverness-morphed" name="cleverness-morphed" /></span>
	</div>
</div>

<div class="skill">
	<h3>Animal Handling</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="animal handling-d2">D2</label>
			<input type="radio" name="animal handling" id="animal handling-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="animal handling-d4">D4</label>
			<input type="radio" name="animal handling" id="animal handling-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="animal handling-d6">D6</label>
			<input type="radio" name="animal handling" id="animal handling-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="animal handling-d8">D8</label>
			<input type="radio" name="animal handling" id="animal handling-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="animal handling-d10">D10</label>
			<input type="radio" name="animal handling" id="animal handling-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="animal handling-d12">D12</label>
			<input type="radio" name="animal handling" id="animal handling-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="animal handling-specialization0" />
		<input type="text" name="animal handling-specialization1" />
		<input type="text" name="animal handling-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Deception</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="deception-d2">D2</label>
			<input type="radio" name="deception" id="deception-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="deception-d4">D4</label>
			<input type="radio" name="deception" id="deception-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="deception-d6">D6</label>
			<input type="radio" name="deception" id="deception-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="deception-d8">D8</label>
			<input type="radio" name="deception" id="deception-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="deception-d10">D10</label>
			<input type="radio" name="deception" id="deception-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="deception-d12">D12</label>
			<input type="radio" name="deception" id="deception-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="deception-specialization0" />
		<input type="text" name="deception-specialization1" />
		<input type="text" name="deception-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Performance</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="performance-d2">D2</label>
			<input type="radio" name="performance" id="performance-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="performance-d4">D4</label>
			<input type="radio" name="performance" id="performance-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="performance-d6">D6</label>
			<input type="radio" name="performance" id="performance-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="performance-d8">D8</label>
			<input type="radio" name="performance" id="performance-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="performance-d10">D10</label>
			<input type="radio" name="performance" id="performance-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="performance-d12">D12</label>
			<input type="radio" name="performance" id="performance-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="performance-specialization0" />
		<input type="text" name="performance-specialization1" />
		<input type="text" name="performance-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Persuasion</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="persuasion-d2">D2</label>
			<input type="radio" name="persuasion" id="persuasion-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="persuasion-d4">D4</label>
			<input type="radio" name="persuasion" id="persuasion-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="persuasion-d6">D6</label>
			<input type="radio" name="persuasion" id="persuasion-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="persuasion-d8">D8</label>
			<input type="radio" name="persuasion" id="persuasion-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="persuasion-d10">D10</label>
			<input type="radio" name="persuasion" id="persuasion-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="persuasion-d12">D12</label>
			<input type="radio" name="persuasion" id="persuasion-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="persuasion-specialization0" />
		<input type="text" name="persuasion-specialization1" />
		<input type="text" name="persuasion-specialization2" />
	</div>
</div>

<div class="skill">
	<h3>Streetwise</h3>
	<div class="dice">
		<span class="overlabeled">
			<label for="streetwise-d2">D2</label>
			<input type="radio" name="streetwise" id="streetwise-d2" value="2" />
		</span>
		<span class="overlabeled">
			<label for="streetwise-d4">D4</label>
			<input type="radio" name="streetwise" id="streetwise-d4" value="4" />
		</span>
		<span class="overlabeled">
			<label for="streetwise-d6">D6</label>
			<input type="radio" name="streetwise" id="streetwise-d6" value="6" />
		</span>
		<span class="overlabeled">
			<label for="streetwise-d8">D8</label>
			<input type="radio" name="streetwise" id="streetwise-d8" value="8" />
		</span>
		<span class="overlabeled">
			<label for="streetwise-d10">D10</label>
			<input type="radio" name="streetwise" id="streetwise-d10" value="10" />
		</span>
		<span class="overlabeled">
			<label for="streetwise-d12">D12</label>
			<input type="radio" name="streetwise" id="streetwise-d12" value="12" />
		</span>
	</div>
	<div class="specializations">
		<span>Specializations</span>
		<input type="text" name="streetwise-specialization0" />
		<input type="text" name="streetwise-specialization1" />
		<input type="text" name="streetwise-specialization2" />
	</div>
</div>

</fieldset>
</div>
</form>
</main>

</body>
</html>
