:root {
	color-scheme: light dark;
	background-color: var(--background-accent);
	--sans: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', Tahoma, Arial, sans-serif;
	--serif: Georgia,Palatino,'Palatino Linotype','Book Antiqua','New York','DejaVu serif',serif;
}

body {
	color: var(--color);
	background-color: var(--background-color);
	font-family: var(--serif);
	font-size: 12pt;
	margin: auto;
	max-width: 768px;
	padding: 10px min(30px, 2%);
	min-height: calc(100vh - 20px);
}

@media print {
	header #menu-theme {
		display: none;
	}
	textarea {
		resize: none;
	}
}

@page {
	margin: 0;
}

textarea {
	font-family: var(--sans);
	font-size: 12pt;
	line-height: 1.4;
}

header {
	position: relative;
}

header label {
	cursor: pointer;
}

input[type="text"] {
	font-family: var(--sans);
	font-size: 12pt;
}

#menu-theme {
	border: 1px solid transparent;
	display: inline-grid;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: max(-2%, -30px);
	grid-row-gap: 0.25rem;
	grid-template-columns: 0 1fr;
	margin-top: -0.25rem;
}

#menu-theme:has(:focus-visible) {
	border: 1px solid gray;
	box-sizing: border-box;
	border-radius: 20px;
}

#menu-theme input {
	margin: 0;
	appearance: none;
}

#menu-theme input+label {
	filter: grayscale(1);
	font-size: x-large;
	display: inline-flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	border-radius: 20px;
}

#menu-theme input:checked+label {
	display: inline-flex;
	filter: none;
	background: blueviolet;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

h1 {
	font-size: clamp(20pt, 10vw, 36pt);
	text-align: center;
}

h1#site-header {
	margin: 0;
	padding: 0 clamp(10px, calc(40px - 4vw), 30px);
}

h2#title {
	margin-bottom: auto;
}

h3, h4 {
	margin: auto;
}

h2+time {
	margin-top: 0.25em;
}

h1 a,
h2 a,
h3 a,
h4 a {
	color: var(--color);
	text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
	text-decoration: underline;
}

ul.tags {
	list-style: none;
	padding: 0px;
	margin-top: auto;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-weight: bold;
	font-style: italic;
	font-size: smaller;
}

ul.tags li.tag {
	display: inline;
	font-weight: normal;
}

ul.tags li.tag:not(:last-child)::after {
	content: ", "
}

li.tag a {
	color: var(--color);
	text-decoration: none;
}

li.tag a:hover, li.tag a:focus {
	text-decoration: underline;
}

nav ul.links {
	list-style: none;
	padding: 0 10px 0 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 0;
}

nav ul.links li {
	margin-top: 10px;
}

nav ul.links a {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	color: var(--color);
	text-decoration: none;
	background-color: var(--accent);
	border-radius: 18px;
	height: 36px;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 5px;
	font-family: var(--sans);
	font-size: 14px;
	font-weight: 500;
	border-width: 2px;
	box-shadow: 3px 3px var(--background-accent);
}

/* Styles for character controls */
@media print {
  .character-controls {
    display: none !important;
  }
  input#character {
    display: none !important;
  }
  h1#site-header {
    font-size: 24pt !important;
  }
  #stats-cols .stat .skill input[type="text"] {
    font-size: x-small !important;
  }
}
input#character {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: xx-large;
  background: transparent;
  border: none;
}
.character-controls {
  text-align: center;
}
.character-controls button, .character-controls select {
  font-size: inherit;
  margin: 5px 2.5px;
}
.character-controls select {
  height: 1.5em;
}
#share-dialog {
  height: 60vh;
  width: min(75vw, calc(768px * 0.75));
  padding: 0;
}
#share-dialog::backdrop {
  background-color: rgba(0, 0, 0, 60%)
}
#share-dialog .dialog-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
}
#share-link-text {
  word-break: break-all;
}
#character-sheet[disabled], #new-character-prompt[disabled] {
  display: none;
}
#new-character-prompt label {
  display: block;
  margin-bottom: 5px;
}
#upload-file {
  border: 1px solid var(--background-accent);
  background-color: var(--background-accent);
  border-radius: 5px;
}
