@media (prefers-color-scheme: dark) {
	:root {
		--color: #EEE;
		--background-color: #111;
		--background-accent: #222;
		--accent: #441e7e;
	}
}

:root:has(#menu-theme-dark:checked) {
	color-scheme: only dark;
	--color: #EEE;
	--background-color: #111;
	--background-accent: #222;
	--accent: #441e7e;
}

:root[data-theme="dark"] {
	color-scheme: only dark;
	--color: #EEE;
	--background-color: #111;
	--background-accent: #222;
	--accent: #441e7e;
}
