---
---
{% capture scheme %}
	--color: #EEE;
	--background-color: #111;
	--background-accent: #222;
	--accent: #441e7e;
	--selection: #8a2be2;
{%- endcapture %}
@media (prefers-color-scheme: dark) {
	:root {
		{{- scheme }}
	}
}

:root:has(#menu-theme-dark:checked) {
	color-scheme: only dark;
	{{- scheme }}
}

:root[data-theme="dark"] {
	color-scheme: only dark;
	{{- scheme }}
}
