@media screen and (min-width:768px) {
  form {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
}
@media print {
  form {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
  .character-controls {
    display: none;
  }
}
@page {
  size: A4;
}
form {
  display: grid;
}
.block {
  display: grid;
  break-inside: avoid;
}
.block label, fieldset {
  margin-top: 5px;
}
#multipass {
  display: grid;
  grid-template-columns: auto 1fr;
}
#multipass label {
  margin-right: 1em;
}
table {
  border-spacing: 5px 0;
  width: 100%;
  margin: 5px 0;
}
table td {
  text-align: center;
}
textarea {
  width: auto;
}
#specialties input[type="text"] {
  display: table-cell;
  width: calc(100% - 10px);
}
#status {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  margin-top: 10px;
}
#status input {
  font-family: var(--sans);
  font-size: 18pt;
  height: 50px;
  width: 50px;
  text-align: center;
  background: none;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 0;
}
#status label {
  font-size: medium;
  text-align: center;
}
#status .status-circle {
  aspect-ratio: 1;
  position: relative;
  height: 50px;
  width: 50px;
}
#status .status-circle::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 5px; /* border thickness */
  background: #a700ce; /* border color */
  mask:
      linear-gradient(#0000 0 0) content-box,
      conic-gradient(
         from 30deg,
         #000  0      55deg,
         #0000 55deg  65deg,
         #000  65deg  235deg,
         #0000 235deg 245deg,
         #000  245deg 350deg,
         #0000 350deg
       );
  mask-composite: intersect;
}

#harm {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5em;
}
textarea::placeholder {
  text-align: right;
}
input#character {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: xx-large;
  background: transparent;
  border: none;
}
.character-controls {
  text-align: center;
}
#character-sheet[disabled] {
  display: none;
}

#stat-defense-bonus {
  padding: 0 25px;
}
.stat-bonus::before {
  content: "+";
  margin-left: 10px;
  position: absolute;
  left: 0;
}
.stat-bonus::after {
  content: "+ 7 =";
  padding-left: 10px;
  margin-right: -10px;
  position: absolute;
  right: 0;
}

.stat-bonus {
  position: relative;
}

.name-column {
  display: grid;
  align-items: center;
}

.stats-column {
  display: grid;
  align-items: end;
}

#stats input {
  text-align: center;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
