:root {
  --light-accent: rgb(127, 176, 185);
  --dark-accent: rgb(33, 107, 130);
  --accent-fg: rgb(33, 107, 130);
  --accent-bg: rgb(187, 207, 211);
  --alt-accent-bg: rgb(228, 235, 237);
}
.right-column {
  --accent-fg: rgb(125, 42, 116);
}
:root:has(#menu-theme-light:checked) {
  --accent-fg: rgb(33, 107, 130);
  --accent-bg: rgb(187, 207, 211);
  --alt-accent-bg: rgb(228, 235, 237);
}
:root:has(#menu-theme-light:checked) .right-column {
  --accent-fg: rgb(125, 42, 116);
}
:root[data-theme="light"] {
  --accent-fg: rgb(33, 107, 130);
  --accent-bg: rgb(187, 207, 211);
  --alt-accent-bg: rgb(228, 235, 237);
}
:root[data-theme="light"] .right-column {
  --accent-fg: rgb(125, 42, 116);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-fg: rgb(102, 168, 193);
    --accent-bg: rgb(36, 55, 60);
    --alt-accent-bg: rgb(14, 22, 24);
  }
  .right-column {
    --accent-fg: rgb(149, 100, 145);
  }
}
:root:has(#menu-theme-dark:checked) {
  --accent-fg: rgb(102, 168, 193);
  --accent-bg: rgb(36, 55, 60);
  --alt-accent-bg: rgb(14, 22, 24);
}
:root:has(#menu-theme-dark:checked) .right-column {
  --accent-fg: rgb(149, 100, 145);
}
:root[data-theme="dark"] {
  --accent-fg: rgb(102, 168, 193);
  --accent-bg: rgb(36, 55, 60);
  --alt-accent-bg: rgb(14, 22, 24);
}
:root[data-theme="dark"] .right-column {
  --accent-fg: rgb(149, 100, 145);
}

@media screen and (min-width:768px) {
  form {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
}
@media print {
  form {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
  }
  .character-controls {
    display: none;
  }
}
@page {
  size: A4;
}
form {
  display: grid;
  font-family: var(--sans);
}
.block {
  display: grid;
  break-inside: avoid;
}
.block label, fieldset {
  margin-top: 5px;
}
#multipass {
  display: grid;
  padding: 10px 30px;
  box-sizing: border-box;
  height: 200px;
  align-content: space-around;
  background-color: var(--dark-accent);
  border: none;
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
}
#multipass legend {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  font-size: small;
  font-weight: bold;
  font-family: var(--sans);
  color: var(--light-accent);
  padding-right: 5px;
  margin-left: -30px;
  margin-top: -10px;
  height: 198px;
  text-align: center;
  box-sizing: border-box;
}
#multipass label {
  font-family: Impact;
  color: var(--light-accent);
}

#multipass input {
  background-color: var(--background-color);
  border: 2px solid var(--background-color);
}

.inlinelabeled {
  position: relative;
}
.inlinelabeled input {
  width: 100%;
  box-sizing: border-box;
}
.inlinelabeled label {
  position: absolute;
  right: 5px;
  top: 2.5px;
}

table {
  border-spacing: 5px 0;
  width: 100%;
  margin: 5px 0;
}
table td {
  text-align: center;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  border: 2px solid var(--accent-fg);
}

#specialties {
  border-spacing: 0;
  border: 2px solid var(--accent-fg);
}
#specialties input[type="text"] {
  display: table-cell;
  width: calc(100% - 10px);
}
#specialties th:first-child {
  padding-left: 5px;
  text-align: left;
}
#specialties th:not(:first-child) {
  text-align: center;
}
#specialties input[type="text"] {
  background-color: transparent;
  border: 1px solid transparent;
}

#specialties tr:nth-child(odd):not(:first-child) {
  background-color: var(--background-accent);
}

#status {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  margin-top: 10px;
}
#status input {
  font-family: var(--sans);
  font-size: 18pt;
  height: 50px;
  width: 50px;
  text-align: center;
  background: none;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 0;
  pointer-events: auto;
}
#status label {
  font-size: medium;
  text-align: center;
}
#status .status-circle {
  aspect-ratio: 1;
  position: relative;
  height: 50px;
  width: 50px;
  pointer-events: none;
}
#status .status-circle::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 5px; /* border thickness */
  background: var(--accent-fg); /* border color */
  mask:
      linear-gradient(#0000 0 0) content-box,
      conic-gradient(
         from 30deg,
         #000  0      55deg,
         #0000 55deg  65deg,
         #000  65deg  235deg,
         #0000 235deg 245deg,
         #000  245deg 350deg,
         #0000 350deg
       );
  mask-composite: intersect;
}

#harm {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 0.5em;
  border: 2px solid var(--accent-fg);
  margin: 5px 0 0 0px;
  padding: 5px 10px;
}
#harm .harm-effect {
  text-align: right;
  font-size: small;
  font-family: var(--sans);
  opacity: 65%;
}
#harm input:checked + label + .harm-effect {
  color: red;
  opacity: 1;
  font-weight: bold;
}

textarea::placeholder {
  text-align: right;
}
input#character {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: xx-large;
  background: transparent;
  border: none;
}
.character-controls {
  text-align: center;
}
#character-sheet[disabled] {
  display: none;
}

#stat-defense-bonus {
  padding: 0 25px;
}
.stat-bonus::before {
  content: "+";
  margin-left: 10px;
  position: absolute;
  left: 0;
}
.stat-bonus::after {
  content: "+ 7 =";
  padding-left: 10px;
  margin-right: -10px;
  position: absolute;
  right: 0;
}

.stat-bonus {
  position: relative;
}

.name-column {
  display: grid;
  align-items: center;
}

.stats-column {
  display: grid;
  align-items: end;
}

#stats {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  border-spacing: 0;
  font-family: var(--sans);
  font-weight: bold;
}
#stats tr:nth-child(even) {
  background-color: var(--alt-accent-bg);
}
#stats input {
  text-align: center;
}
#stats input[type="text"] {
  width: 1.5em;
}
#stats tr {
  line-height: 2;
}
#stats th[scope="row"] {
  text-align: left;
  padding-left: 10px;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

abbr {
  text-decoration: none;
}

.block > label, #harm legend, #specialties tr:first-child {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  color: var(--background-color);
  background-color: var(--accent-fg);
  font-weight: bold;
  padding: 2px 4px;
}

#harm legend {
  width: calc(100% + 24px);
  margin-left: -12px;
}
