:root {
	--color: #111;
	--background-color: #EEE;
	--background-accent: #DDD;
	--accent: #9773cd;
}

:root:has(#menu-theme-light:checked) {
	color-scheme: only light;
	--color: #111;
	--background-color: #EEE;
	--background-accent: #DDD;
	--accent: #9773cd;
}

:root[data-theme="light"] {
	color-scheme: only light;
	--color: #111;
	--background-color: #EEE;
	--background-accent: #DDD;
	--accent: #9773cd;
}
