@media print {
  .character-controls {
    display: none !important;
  }
  input#character {
    display: none !important;
  }
  h1#site-header {
    font-size: 24pt !important;
  }
  #stats-cols .stat .skill input[type="text"] {
    font-size: x-small !important;
  }
}
@page {
  size: legal;
}
.block {
  display: grid;
  break-inside: avoid;
}
input#character {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: xx-large;
  background: transparent;
  border: none;
}
.character-controls {
  text-align: center;
}
.character-controls button, .character-controls select {
  font-size: inherit;
  margin: 5px 2.5px;
}
.character-controls select {
  height: 1.5em;
}
#share-dialog::backdrop {
  background-color: rgba(0, 0, 0, 60%)
}
#character-sheet[disabled], #new-character-prompt[disabled] {
  display: none;
}
#new-character-prompt label {
  display: block;
  margin-bottom: 5px;
}
#upload-file {
  border: 1px solid var(--background-accent);
  background-color: var(--background-accent);
  border-radius: 5px;
}
#summary {
  display: grid;
}
table {
  border-spacing: 5px 0;
}
th {
  font-family: var(--sans);
}
table td {
  text-align: center;
}
textarea {
  width: auto;
  height: 100%;
  font-size: small;
}
table input[type="text"] {
  display: table-cell;
  width: calc(100% - 10px);
  font-size: small;
}
input[inputmode="numeric"] {
  width: 2em;
  align-self: center;
  text-align: center;
}
.stat {
  display: flex;
  flex-direction: column;
}
fieldset {
  border: 1px solid var(--color);
  margin: 5px 0;
}
legend {
  margin: auto;
  background-color: var(--color);
  color: var(--background-color);
  font-weight: bold;
  font-family: var(--sans);
  text-align: center;
  padding: 2px 20px;
}
label {
  font-family: var(--sans);
}

.underlabeled {
  position: relative;
  display: inline-flex;
  flex-direction: column-reverse;
}
.underlabeled label {
  font-family: var(--sans);
  font-size: x-small;
  text-align: center;
  line-height: 1;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}
.overlabeled {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
.overlabeled label {
  font-family: var(--sans);
  font-size: x-small;
  text-align: center;
  line-height: 1;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}
#summary {
  display: grid;
  column-gap: 10px;
  margin-top: 5px;
  padding: 0;
  border: 0;
}
@media screen and (min-width:420px) {
  #zord-stats {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width:768px) {
  #summary {
    grid-template-columns: 4fr 3fr;
  }
  #combat-info {
    grid-template-columns: 4fr 5fr;
  }
  #stats-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  #addl-abilities {
    grid-template-columns: repeat(3, 1fr);
  }
  #weapons .item-fields {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media print {
  #summary {
    grid-template-columns: 4fr 3fr;
  }
  #combat-info {
    grid-template-columns: 4fr 5fr;
  }
  #stats-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  #addl-abilities {
    grid-template-columns: repeat(3, 1fr);
  }
  #weapons .item-fields {
    grid-template-columns: repeat(3, 1fr);
  }
  .cols2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
#summary .basics {
  display: grid;
  align-content: space-evenly;
}
#summary .basics .row {
  display: grid;
  column-gap: 10px;
}
#summary .basics .row:first-child {
  grid-template-columns: 3fr 1fr;
}
#summary .basics .row:nth-child(2) {
  grid-template-columns: 6fr 4fr 1fr;
}
#summary .summary-details {
  display: grid;
}
#details {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
  margin: 0;
  border: 0;
}
.col {
  display: flex;
  flex-direction: column;
}
#details .col:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-evenly;
  align-items: start;
  grid-column-gap: 5px;
}
#combat-info {
  display: grid;
  align-items: end;
}
#attack {
  padding: 0 5px;
}
#attack table {
  border-spacing: 0 2.5px;
}
#stats-cols {
  display: grid;
}
#stats-cols {
  text-align: center;
}
#stats-cols .stat {
  padding: 5px;
  border-radius: 20px;
  margin: 5px 0;
  border: 1px solid var(--color);
}
#stats-cols input[inputmode="numeric"] {
  font-size: small;
  width: 1.5em;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}
#stats-cols .sum .underlabeled {
  margin: 5px;
}
.skill {
  border: 1px solid var(--color);
  padding-bottom: 5px;
  margin: 2.5px 0;
}
.skill h3 {
  font-size: 12pt;
  font-family: var(--sans);
  text-transform: capitalize;
}
.dice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dice input[type="radio"] {
  margin-top: 0;
}
.skill .specializations {
  display:grid;
  grid-template:
  "a b" 1fr
  "a c" 1fr
  "a d" 1fr / 12px 1fr;
  grid-row-gap: 5px;
  padding: 5px 0;
}
.skill .specializations span {
  font-size: small;
  font-family: var(--sans);
  display: table;
  grid-area: a;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.skill .specializations input[type="text"] {
  margin: 0 5px;
  width: calc(100% - 20px);
  font-size: small;
}
.skill:has(input[type="radio"][value="0"]:checked) .specializations {
  display: none;
}
#addl-abilities {
  display: grid;
  grid-column-gap: 5px;
}
.item-table-list {
  padding: 5px 0;
}
.item-name {
  text-align: center;
}
.item-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: stretch;
  column-gap: 5px;
}
.item-fields input {
  width: calc(100% - 7.5px);
}
.item-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.item-table + .item-table {
  border-top: 1px solid var(--color);
}
.item-table:has(.item-name:placeholder-shown) .item-fields {
  display: none;
}
.item-table:has(.item-name:placeholder-shown) + .item-table:has(.item-name:placeholder-shown) {
    display: none;
}
.cols2 {
  display: grid;
  column-gap: 5px;
}
#zord-name {
  text-align: center;
}
#zord-stats {
  display: grid;
  text-align: center;
}
.zord-stat {
  display: inline-block;
  background-color: var(--color);
  color: var(--background-color);
  font-weight: bold;
  font-family: var(--sans);
  text-align: center;
  padding: 2px;
  margin: 5px;
}
.skill .name {
  display: block;
  width: calc(100% - 8px);
  text-align: center;
}
#zord .col > *:last-child {
  flex: 1;
}
#zord .row {
  display: flex;
  justify-content: space-around;
}
#share-dialog {
  height: 60vh;
  width: min(75vw, calc(768px * 0.75));
  padding: 0;
}
#share-dialog::backdrop {
  background-color: rgba(0, 0, 0, 60%)
}
#share-dialog .dialog-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
}
#share-link-text {
  word-break: break-all;
}
